body{
    background-color: #53588d;
}
header{
    text-align: center;
    background-color: rgb(177, 223, 70);
}
main{
    background-image: url(grainhighresolpic.jpg)
}
a{
    padding: 20px;
}
li:hover{
    background-color: green;
}
    a:link{
        color: rgb(35, 155, 107);
        font-size: x-large;
    }
a:hover{
    color: rgb(42, 165, 42);
    font-size: 1.5em;
}
a:active{
    color: rgb(231, 22, 231);
    font-size: 1.1em;
}
li:not(:hover){
    background-color: beige;
}
footer{
    background-color: rgb(177, 223, 70);
}
p3{
    font-size: x-large;
}
p4{
    font-size: larger;
}
p5{
    font-size: large;
}
p6{
    font-size: large;
}
p7{
    font-size: large;
}